<!DOCTYPE html>
{% load staticfiles %}
<html lang="zxx">
<head>
    <title>Deshansh Garg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />	
	
    <script>
        addEventListener("load", function () 
        {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() 
        {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="{% static "css/bootstrap.css" %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static "css/fontawesome-all.min.css"%}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
</head>
<body>
		
    <div class="main">
        <div class="banner-text-dgls" id="home">	
			<div class="container">
                <div class="mx-auto text-center">
                	<h3> </br></h3>
                	<div class="deshansh">

                         <h3>  &nbsp; &nbsp; You don't know me. </br>  &nbsp; &nbsp;But you are about to...!!</h3>
				    
					     <a class="btn btn-primary mt-lg-5 mt-3 agile-link-bnr" href="#about" role="button">Read More</a>
					</div>
                </div>
            </div>
        </div>
	</div>

<section class="intro" id="intro">
	<div class="container">
		<center><img src="{% static "images/about.jpg" %}" alt="news image" class="img-fluid navimg"></center>
		<center><h4 class="main_hd"> Hi, I am</br> Deshansh Garg</br></br></h4></center>
		<center><h2 class="dg_head mb-4">  </h2></center>
	 		
	</div>
</section>

<section class="about" id="about">
	<div class="container">
		<h2 class="dg_head mb-4">About </h2>
	 		<h4 class="main_hd"> I don't do nothing :)</h4>
	<p class="iner mt-md-5"> I am a pre-final year Computer Science Engineering student. I love to write code and debug in Python and C++. I love to do competitive coding and set problems in coding contests. I am very passionate about Machine Learning, Data Structures and Algorithms.</p>
	<p class="iner mt-md-5">I am looking for an internship position in an organisation where I can utilise my knowledge to develop solutions for the organisation and simultaneously seeking good practical experience to broaden my skills and knowledge base.</br></br></br></p>	
	</div>
</section>

<!-- //about -->
<!-- services -->
<section class="services" id="projects">
	<div class="container">
		<h2 class="dg_head mb-4">Projects </h2>
	 		<ul class="list-unstyled mt-5">
				<li>
					<h4 class="main_hd"> Flower Classification using CNN:</h4>
					<p class="iner mt-md-5"> Five different types of flowers are classified using Convolutional Neural Networks in TensorFlow.</br></br></p>
				</li>
				<li>
					<h4 class="main_hd"> Next Word Prediction & sentence Completion in TensorFlow using RNN:</h4>
					<p class="iner mt-md-5"> Three words are given as input and next words are predicted using Recurrent Neural Network (RNN) using two layered LSTM model.</br></br></p>
				</li>
				<li>
					<h4 class="main_hd"> Latent-Semantic-Indexing:</h4>
					<p class="iner mt-md-5"> Latent semantic indexing is based on Single value decomposition for information filtering a matrix containing word counts per paragraph is constructed from a large piece of text and a mathematical technique called singular value decomposition(SVD) is used to reduce the number of rows while preserving the similarity structure among columns. Implemented using various python libraries and python GUI Tkinter</p>
				</li>
			</ul>
	</div>
</section>

<section class="skills" id="skills">
	<div class="container">
		<h2 class="dg_head mb-4">Skills </h2>
		<p></br></br></p>
		<ul>	
			<li>
				<h4 class="main_hd"> Programming Languages</h4>
				<ul>
					<li>
						<p class="par"> C, C++, Pythton, HTML, CSS, Java</p>
						<p> </br></p>
					</li>
				</ul>
			</li>
			<li>
				<h4 class="main_hd"> Development & Coding</h4>
				<ul>
					<li>
						<p class="par"> Data Structures & Algorithms, Machine Learning, Deep Learning, Competitive Coding, Android App Development*</p>
						<p> </br></p>
					</li>
				</ul>
			</li>
			<li>
				<h4 class="main_hd">Framework</h4>
				<ul>
					<li>
						<p class="par"> Django</p>
						<p> </br></p>
					</li>
				</ul>
			</li>
			<li>
				<h4 class="main_hd">Software Packages</h4>
				<ul>
					<li>
						<p class="par"> Anaconda, Visual Studio, Atom, PyCharm, Android Studio</p>
						<p> </br></p>
					</li>
				</ul>
			</li>
			<li>
				<h4 class="main_hd">Operating System</h4>
				<ul>
					<li>
						<p class="par"> Ubuntu, Windows</p>
						<p> </br></p>
					</li>
				</ul>
			</li>
			<li>
				<h4 class="main_hd">DBMS software</h4>
				<ul>
					<li>
						<p class="par"> MY-SQL</p>
						<p> </br></p>
					</li>
				</ul>
			</li>

		</ul>
	</div>
	
</section>
<section class="services" id="education">
	<div class="container">
		<h2 class="dg_head mb-4">Education </h2>
	 		<ul class="list-unstyled mt-5">
				<li>
					<h4 class="main_hd"> Higher Studies:</h4>
					<p class="iner mt-md-5"> Bachelor of Technology (Computer Science Engineering):
					</br> Jaipur Engineering College & Research Centre, Jaipur Rajasthan</br> GPA/Percent: 75%.</br></br></p>
				</li>
				<li>
					<h4 class="main_hd"> Senior Secondary(XII):</h4>
					<p class="iner mt-md-5"> (CBSE Board): Maheshwari Public School, Jaipur Rajasthan
					</br> GPA/Percent: 90%.</br></br></p>
				</li>
				<li>
					<h4 class="main_hd">Secondary(X):</h4>
					<p class="iner mt-md-5">(CBSE Board): Maheshwari Public School, Jaipur Rajasthan
					</br> GPA/Percent: 9.4.</br></br></p>
				</li>
			</ul>
	</div>
</section>
</section>
<section class="services" id="competitive">
	<div class="container">
		<h2 class="dg_head mb-4">Competitive Section </h2>
	 		<ul class="list-unstyled mt-5">
				<li>
					<h4 class="main_hd"> Codechef:</h4>
					<p class="par">Maximum rating-<b>1889</b></p>
					<p class="par"><a href="https://www.codechef.com/users/deshanshg">Link</a></p>
				
				</li>
				<li>
					<h4 class="main_hd"> Hackerearth:</h4>
					<p class="par">Maximum rating-<b>1513</b></p>
					<p class="par"><a href="https://www.hackerearth.com/@deshansh1998">Link</a></p>
				
				</li>
				<li>
					<h4 class="main_hd"> Codeforces:</h4>
					<p class="par">Max. rating-<b>1523</b></p>
					<p class="par"><a href="https://www.codeforces.com/profile/deshansh">Link</a></p>
				
				</li>
				<li>
					<h4 class="main_hd"> Hackerrank:</h4>
					<p class="par">Maximum stars in Problem Solving</p>
					<p class="par"><a href="https://www.hackerrank.com/deshanshG">Link</a></p>
				
				</li>
			</ul>
	</div>
</section>
<section class="services" id="poa">
	<div class="container">
		<h2 class="dg_head mb-4">Achievements </h2>
	 		<ul class="list-unstyled mt-5">
				<li>
					
					<p class="par">1.Cleared <b>two rounds</b> of Snackdown (Annual Coding Contest of Codechef)</br></br></p>
				    <p class="par">2.Secured <b>311 th</b> rank in Online ACM-ICPC Amritapuri region (team-trieAngle)</br></br></p>
				    <p class="par">3.Secured <b>7 th</b> rank in Code-of-War 2K18 Onsite Final (MNIT coding competition)</br></br></p>
				    <p class="par">4.Secured <b>2 nd</b> position in College Coding Competition (JUST-C 2018)</br></br></p>
				    <p class="par">5.Cleared <b>round 1</b> of Facebook Hacker Cup contest</br></br></p>
				    <p class="par">6.Maximum stars in Problem Solving on Hackerrank</br></br></p>
				    <p class="par">7.<b>Division 1</b> rating in CodeChef</br></br></p>
				    <p class="par">8.Participated in Smart India Hackathon & Rajasthan Hackathon</br></br></p>  
				    <p class="par">9.Volunteered College Hackathon and many other small events</br></br></p>
				    <p class="par">10.Problem setter, testor, coordinator at College Coding Contest(ProCode)</br> </p>
				</li>
			</ul>
	</div>
</section>
<section class="services" id="hobby">
	<div class="container">
		<h2 class="dg_head mb-4">Hobby </h2>
		<h4 class="main_hd"> I love to...</h4>
	 		<ul class="list-unstyled mt-5">
				<li>
					
					<p class="par">1.Write Articles and Poems and blogs</br></br></p>
				    <p class="par">2.Listen to music to heal the stress</br></br></p>
				    <p class="par">3.Watch and play Cricket</br></br></p>
				    <p class="par">4.Play with numbers</br></br></p>
				    <p class="par">5.Debug logical errors</br></br></p>
				 </li>

			</ul>
	</div>
</section>
	
	 <!-- //contact -->
    </div>
   
</body>
</html>